.cover__link {
    display: block;
    position: relative;
    min-height: 200px;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: 100%;
}

@media (min-width: 768px) {
    .cover__link {
        min-height: 480px;
    }
}

@media (min-width: 1024px) {
    .cover__link {
        min-height: 640px;
    }
}

@media (min-width: 1280px) {
    .cover__link {
        min-width: 1184px;
        min-height: 740px;
        margin: 0 48px 0;
    }
}


