.cover__overlay {
    background-color: rgba(42, 44, 47, 0.3);
    min-width: 100%;
    min-height: 200px;
    transition: 1s;
}

@media (min-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media (min-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media (min-width: 1280px) {
    .cover__overlay {
        min-height: 740px;
    }
}


.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
    transition: 1s;
}