.footer {
    color: white;
    max-width: max-content;
    margin: 0 auto 24px 16px;
}

@media (min-width: 768px) {
    .footer {
        min-width: 720px;
        max-width: calc(100% - (2*24px));
        margin: 0 24px 24px;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .footer {
        min-width: 928px;
        max-width: calc(100% - (2*48px));
        margin: 0 48px 24px;
    }
}

@media (min-width: 1280px) {
    .footer {
        max-width: 1184px;
        margin: 0 auto 24px;
    }
}