.place__url {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
    margin: 0 0 32px 16px;
}

@media (min-width: 768px) {
    .place__url {
        grid-area: website;
        margin: 0 0 48px;
    }
}

.place__url:hover {
    opacity: 0.8;
    transition: 300ms;
}